<h1 class="text-white"><strong>All Users</strong></h1>

<% @users.each do |user| %>

	<div class="mb-3">
	<p class="mb-0"><%= user.email %></p>

	<%= bootstrap_form_for user, :html => { :class => 'text-white' } do |f| %>
		<%= f.check_box :admin, :data => { :url => user_path( user ), :remote => true, :method => :patch } %>
	<% end %>
	</div>

<% end %>
