@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

* {
	font-family: 'PT Sans', sans-sans-serif;
}

nav {
	background-color: #2D305F;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #6369D1;
}

a {
	text-decoration: none;

}

.flex {
	display: flex;
	justify-content: flex-start;
}

.topics_header {
	width: 50%;

	h2 {
		margin: 0;
	}
}

.controls {
	width: 50%;
	text-align: right;
}

.new-post {
	text-align: right;
}

.post-controls {
	text-align: right;
}

div.response form {
	display: none;
}

div.create-response form {
	display: none;
}

/* ///////////////////////////////////////////////////////////////////// */
/* material drop shadow */
.mds {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	// -webkit-transition: all 0.25s ease-in-out;
	// -moz-transition: all 0.25s ease-in-out;
	// -ms-transition: all 0.25s ease-in-out;
	// -o-transition: all 0.25s ease-in-out;
	// transition: all 0.25s ease-in-out;
}
//
// .mds:hover {
// 	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
// 	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
// 	-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
// 	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
// 	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
// }
